.jfx-tab-pane .headers-region{
    -fx-background-color:transparent;
}
.jfx-tab-pane .tab-header-background{
    -fx-background-color: #0d47a1 ;
}
.jfx-tab-pane .tab-selected-line{
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 3pt;
}
.tab-pane
{
  -fx-tab-min-width:90px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:40px;
  -fx-tab-max-height:40px;
   
}